
.container .heading{
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .container .heading h1{
    color: #43a3f1;
    font-size: 50px;
    margin-top: 50px;
  }
  .wrapper{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content{
    padding-top: 60px;
    width: 50%;
    margin: 0px 25px;
    transition: 0.4s ease;
  }
  .content:hover{
    transform: translateY(-10px);
  }
  .content h2{
    font-size: 28px;
    /* color: #284966; */
    color: #666;
  }
  .content p{
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
  }
  .content .btn{
    position: relative;
    margin-top: 30px !important;
    text-decoration: none;
    border: 2px solid #43a3f1;
    font-size: 19px;
    color: #43a3f1;
    padding: 13px 16px;
    display: block;
    width: 180px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .content .btn:before{
    position: absolute;
    content: "";
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #43a3f1;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
    transform: scale(0);
  }
  .content .btn:hover{
    color: #fff;
  }
  .content .btn:hover::before{
     transform: scale(1);
  }
  .image{
    width: 50%;
    transition: 0.4s ease;
  }
  .image:hover{
    transform: translateY(-10px);
  }
  .image img{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width:768px){
    .wrapper{
        flex-direction: column;
        margin-top: 0px;
      }
      .container .heading h1{
        font-size: 40px;
      }
      .content, .image{
        width: 100%;
        margin-top: 20px; 
      }
      .content h2{
        font-size: 25px;
      }
      .content p{
        color: #666;
        font-size: 19px;
        line-height: 1.5;
        margin-top: 10px;
      }
      .content .btn{
        font-size: 16px;
        padding: 12px 14px;
      }
      .content .btn:before{
        position: absolute;
        content: "";
        border: 1px solid transparent;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #43a3f1;
        z-index: -1;
        transition: transform 0.7s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
        transform: scale(0);
      }
      .content .btn:hover{
        color: #fff;
      }
      .content .btn:hover::before{
         transform: scale(1);
      }
      .image{
        width: 50%;
        transition: 0.4s ease;
      }
.image:hover{
    transform: translateY(-10px);
      }
.image img{
        width: 100%;
        height: auto;
      }
  }

svg{
  width: 100%;
  margin-top: -40px;
}
.container-case{
   min-height: 100vh;
   margin-top: -40px;
   width: 100%;
   /* background: linear-gradient(360deg,rgb(82, 144, 180), #051e70dc); */
   background-color: #005896;
}
.service-wrapper{
    padding: 4% 8% 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt{
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
}
.service-txt{
  text-align: center;
  font-size: 1rem;
  color: #fff;
  padding-top: 40px;
}
.txt1{
    color: rgba(161, 161, 161, 0.6);width: 60%;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 42px;
}
.card{
    height: 330px;
    width: 370px;
    background-color: #ffffff;
    padding: 5% 8%;
    border-radius: 8px;
    transition: 0.6s;
}
.card i{
    color: #43a3f1;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 2.5rem;
}
.card h2{
    color: #43a3f1;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}
.card p{
    text-align: left;
    width: 100%;
    margin: 20px 0;
}
.card:hover{
    background: linear-gradient(90deg,#43a3f1,#0b5a9b );
    transform: translateY(-8px);
    color: #fff !important;
    cursor: pointer;
}
.card:hover h2{
    color: #fff;
}
.card:hover p{
    color: #fff;
}
.card:hover i{
    color: #fff;
}
@media (max-width:1200px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:900px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .txt{
        font-size: 2.5rem;
    }
}
@media (max-width:768px) {
    .txt{
        font-size: 2rem;
    }
    .txt1{
        width: 90%;
    }
    .container-case{
      margin-top: -10px;
    }
    
}
@media (max-width:500px) {
    .intro-area h2{
        font-size: 26px;
    }
    .intro-area h3{
        font-size: 19px;
    }
    .card{
        height: 280px;
        width: 320px;
    }
    .card i{
        margin-top: 20px;
    }
    .txt{
        margin-bottom: 12px;
        font-size: 1.5rem;
    }
    .txt1{
        width: 100%;
    }
}
.large-container {
  position: static;
  max-width: 1580px;
  padding: 0px 30px;
  margin: 0 auto;
}

.testimonial-section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 210px;
  overflow: hidden;
  &:before {
    position: absolute;
    left: -200px;
    top: 22%;
    background-image: url(http://t.commonsupport.com/adro/images/icons/ring-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 701px;
    height: 756px;
    content: "";
    -webkit-animation: fa-spin 25s infinite alternate;
    -moz-animation: fa-spin 25s infinite alternate;
    -ms-animation: fa-spin 25s infinite alternate;
    -o-animation: fa-spin 25s infinite alternate;
    animation: fa-spin 25s infinite alternate;
  }
  .sec-title {
    position: relative;
    margin-bottom: 115px;
    .title {
      margin-bottom: 20px;
    }
  }
  .testimonial-carousel {
    position: relative;
    max-width: 1100px;
    margin: 0 -50px;
  }
}

.testimonial-block {
  position: relative;
  padding: 50px;
  .inner-box {
    padding: 80px 105px;
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(226, 222, 232, 0.75);
  }
  .text {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 32px;
    color: #282331;
    font-weight: 400;
    margin-bottom: 50px;
    font-family: "Muli", sans-serif;
  }
  .info-box {
    position: relative;
    padding-left: 115px;
    padding-top: 10px;
    .thumb {
      position: absolute;
      left: 0;
      top: 0;
      height: 82px;
      width: 82px;
      img {
        border: 6px solid #e5e6fa;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        width: 100%;
        box-shadow: 0 45px 45px rgba(147, 147, 147, 0.35);
      }
    }
    .name {
      position: relative;
      display: block;
      font-size: 21px;
      line-height: 1.2em;
      color: #382c4d;
      font-weight: 700;
      margin-bottom: 10px;
      font-family: "Niramit", sans-serif;
    }
    .designation {
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #8053f7;
      font-weight: 400;
      font-family: "Muli", sans-serif;
    }
  }
}

.testimonial-carousel {
  .owl-nav {
    position: absolute;
    right: 75px;
    bottom: 70px;
  }
  .owl-next, .owl-prev {
    position: relative;
    display: inline-block;
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .owl-next:hover, .owl-prev:hover {
    background-color: #00df97;
    box-shadow: 0 24px 24px rgba(187, 187, 187, 0.75);
  }
}

.arrow-right, .arrow-left {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 43px;
  background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-left-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-right {
  background-image: url(http://t.commonsupport.com/adro/images/icons/arrow-right-2.png);
}

.testimonial-section .thumb-layer {
  position: absolute;
  right: 30px;
  top: 120px;
  .image {
    position: relative;
    margin-right: 0;
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  .testimonial-section .sec-title {
    margin-bottom: 50px;
  }
  .testimonial-block {
    padding: 0;
    .inner-box {
      box-shadow: none;
      border: 2px solid #f1f1f1;
    }
  }
  .testimonial-carousel {
    .owl-nav {
      position: relative;
      left: 0;
      bottom: 0;
      margin-top: 20px;
      text-align: center;
    }
    .owl-next, .owl-prev {
      border: 2px solid #f1f1f1;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .large-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}